@model ExamThesis.Storage.Model.Question

<h2>Delete Question</h2>

<h3>Are you sure you want to delete this question?</h3>
<div>
    <h4>Question:</h4>
    <div>
        <strong>@Model.QuestionText</strong>
    </div>
</div>

<form id="deleteForm">
     @Html.AntiForgeryToken() 
    <button type="button" id="deleteButton" class="btn btn-danger" data-question-id="@Model.QuestionId">Delete</button>

    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>

@section Scripts {
    <script>
        $(function () {
            $('#deleteButton').click(function () {
                var questionId = $(this).data('question-id');
                if (confirm("Are you sure you want to delete this category?")) {
                    $.ajax({
                        url: '/QuestionCreate/DeleteConfirmed/' + questionId,
                        type: 'DELETE',
                        headers: {
                            'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                        },
                        success: function (data) {
                            console.log('Success:', data);
                            window.location.href = '/QuestionCreate/Index';
                        },
                        error: function (error) {
                            console.error('Error:', error);
                        }
                    });
                }
            });
        });

    </script>
}
