@{
    ViewData["Title"] = "Καλώς ήρθατε";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="display-4 mt-5">Καλώς ήρθατε στην εφαρμογή εξέτασης για το μάθημα Δίκτυα Υπολογιστών!</h1>
            <p class="lead">Εδώ μπορείτε να πραγματοποιήσετε εξετάσεις για το μάθημα Δίκτυα Υπολογιστών.</p>
            <a href="#" class="btn btn-primary btn-lg">Ξεκινήστε</a>
        </div>
    </div>
</div>

