@model QuestionCategory

<form method="post" asp-action="DeletePOST">
    <input asp-for="QuestionCategoryId" hidden />
    <div class="border p-3 mt-4"></div>
    <div class="row pb-2">
        <h2 class="text-primary">Edit Category</h2>
    </div>
    <div class="mb-3">
        <label asp-for="QuestionCategoryName">Name</label>
        <input asp-for="QuestionCategoryName" disabled class="form-control" />
        <span asp-validation-for="QuestionCategoryName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
    <a asp-controller="QuestionCategory" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}