@model ExamThesis.Models.QuestionPackage
<form enctype="multipart/form-data" method="post">
    <div class="border p-3 mt-4"></div>
        <div class="row pb-2">
            <h2 class="text-primary">Create Question</h2>
        </div>
        <div class="mb-3">
        <label asp-for="PackageName">Name</label>
        <input asp-for="PackageName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="QuestionCategoryId" class="control-label"></label>
            <select asp-items="ViewBag.QuestionCategories" asp-for="QuestionCategoryId" class="form-control"></select>
        </div>
    @* <div class="mb-3">
        <label asp-for="FileData" class="form-label">Choose a file</label>
        <input type="file" asp-for="FileData" class="form-control">
    </div> *@
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="QuestionCategory" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
</form>
